
<div class="col-sm-4">
  <div style="text-align:center">
    <div>
      <p>{{seconds}}</p>
      <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
      [imageQuality]="0.5" [imageType]="image/webp"
      ></webcam>
      <br />
      <button id="snapshotBtn" (click)="triggerSnapshot();">Take A Snapshot</button>
    </div>
  </div>
  <div class="snapshot" *ngIf="webcamImage">
    <h2>Nice one!</h2>
    <img [src]="webcamImage.imageAsDataUrl" width="200px" />
    <input type="text" [(ngModel)]="nombre" name="nombre" placeholder="Ingrese nombre">
  </div>
</div>