
<div >
    <div >
      <webcam 
      [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
      [imageQuality]="0.5" [imageType]="image/webp" allowCameraSwitch="true"
      ></webcam>
      <br />
      <div class="btnTakeSnapshot">
        <button id="snapshotBtn" (click)="triggerSnapshot();"></button>
      </div>
    </div>
  <!-- </div> -->
  <!-- <div *ngIf="webcamImage">
    <h2>Nice one!</h2>
    <img [src]="webcamImage.imageAsDataUrl" width="200px" />
  </div> -->
</div>