<div class="acuerdosLegales">
<div class="titleAcuerdosLegales">TÉRMINOS Y CONDICIONES</div>
<br>

<div class="textAcuerdosLegales">
    Los siguientes términos y condiciones (los "Términos y Condiciones") rigen el uso que ambas partes pueden darle a la
    plataforma y a cualquiera servicio o contenido asociado. al usar la plataforma, usted acepta y presta su entera
    conformidad con estos términos y condiciones. Si usted no está de acuerdo con estos Términos y Condiciones, no puede
    tener acceso a plataforma ni utilizarla de ninguna otra manera.
    Autorización de Uso de Imagen. Declaro que autorizo al Frente Renovador (Alternativa Federal) a que utilice total o
    parcialmente mi imagen, mi voz y/o reacciones, a fin de que la misma sea divulgada y/o incorporada con fines
    publicitarios institucionales en medios de comunicación audiovisuales, radiales, gráficos, internet, vía pública y/o
    cualquier otro soporte conforme el plan de medios, siendo asimismo posible dicha utilización en el marco de otras
    campañas de interés que se generen en lo sucesivo a exclusivo criterio del Frente Renovador. En tal sentido autorizo al
    Frente Renovador (Alternativa Federal) a que, con los fines que que este desee incluya y edite la imagen, y ejecute todo
    otro acto encaminado a la divulgación del contenido, sin restricciones ni límites temporales, así como de medios para su
    reproducción y/o difusión. Dejo expresa constancia que por medio del presente documento cedo de manera gratuita,
    únicamente al Frente Renovador (Alternativa Federal), el derecho a divulgar mi imagen en los términos del presente.
    Derechos de Propiedad. Entre usted y El Frente Renovador (Alternativa Federal) , El Frente Renovador (Alternativa
    Federal) es dueño único y exclusivo, de todos los derechos, título e intereses en y del Sitio Web, de todo el contenido
    (incluyendo, por ejemplo, audio, fotografías, ilustraciones, gráficos, otros medios visuales, videos, copias, textos,
    software, títulos, archivos de Onda de choque, etc.), códigos, datos y materiales del mismo, el aspecto y el ambiente,
    el diseño y la organización de esta plataforma digial y la compilación de los contenidos, códigos, datos y los
    materiales de esta plataforma, incluyendo pero no limitado a, cualesquiera derechos de autor, derechos de marca,
    derechos de patente, derechos de base de datos, derechos morales, derechos sui generis y otras propiedades intelectuales
    y derechos patrimoniales del mismo. Su uso de esta plataforma no le otorga propiedad de ninguno de los contenidos,
    códigos, datos o materiales a los que pueda acceder en o a través de la plataforma.
    Uso Prohibido. Usted se obliga a no alterar, editar, borrar, quitar, o de otra manera cambiar el significado o la
    apariencia de, o cambiar el propósito de, cualquiera de los contenidos, códigos, datos o materiales en o disponibles a
    través de esta plataforma.
    Marcas Comerciales. Todas las Marcas Comerciales que no sean autorizadas expresamente por el Frente Renovador
    (Alternativa Federal) que aparezcan en la plataforma o en los servicios del mismo, si las hubiera, son propiedad de sus
    respectivos dueños. Nada que esté contenido deberá ser interpretado como otorgando, por implicación, desestimación, o de
    otra manera, alguna licencia o derecho para usar alguna Marca Comercial expuesta sin el permiso escrito de terceros que
    puedan ser dueños de dicha Marca Comercial. El mal uso de las Marcas Comerciales expuestas en la plataforma o a través
    de cualquiera de los servicios está estrictamente prohibido y será responsabilidad de quien aporte las imágenes
    Información del Usuario. En el curso del uso que usted haga del Sitio Web y/o de los servicios puestos a su disposición
    en o a través del Sitio Web, se le puede pedir que nos proporcione cierta información personalizada. Usted reconoce y
    acepta ser el único responsable de la exactitud del contenido de la Información del Usuario.
    Conducta Prohibida del Usuario. Usted garantiza y está de acuerdo en que, mientras utilice la plataforma y los diversos
    servicios usted no (a) insertará su propio anuncio, posicionamiento de marca o algún otro contenido promocional o el de
    un tercero en cualquiera de los contenidos, materiales o servicios. (b) participará en navegar por la red, en "raspar
    (scraping) la pantalla", "raspar (scraping) la base da datos", en recolectar direcciones de correo electrónico,
    direcciones inalámbricas u otra información personal o de contactos, o cualquier otro medio automático de obtener listas
    de usuarios u otra información de o a través de la plataforma. (c) usará la plataforma a su disposición para
    interrumpir, dañar, deshabilitar, sobrecargar o deteriorar la plataforma o dichos servicios, incluyendo, sin limitación,
    mandar mensajes masivos no solicitados o "inundar" servidores con solicitudes; (d) usará la plataforma en violación de
    la propiedad intelectual o de otros derechos legales o patrimoniales de Frente Renovador o de algún tercero; ni (e)
    usará la plataforma o los servicios en violación de cualquier ley aplicable. Usted se obliga, además, a no intentar (o
    alentar o apoyar el intento de otro) a embaucar, destruir, decodificar, o de otro modo alterar o interferir en la
    plataforma, o con cualquier contenido del mismo, o hacer cualquier uso no autorizado del mismo. Usted no obtendrá ni
    intentará obtener algún material o información a través de cualquier medio que no haya sido estipulado o puesto a la
    disposición del público intencionalmente a través de la plataforma.
    Derecho de Monitoreo y Control Editorial. El Frente Renovador (Alternativa Federal) se reserva el derecho, pero no tiene
    la obligación, de monitorear y/o revisar todos los materiales enviados a la plataforma por los usuarios, y El Frente
    Renovador (Alternativa Federal) no es responsable de dichos materiales enviados por los usuarios. Sin embargo, El Frente
    Renovador (Alternativa Federal) se reserva el derecho en todo momento de divulgar cualquier información que sea
    necesaria para satisfacer cualquier ley, reglamento o solicitud gubernamental, o de editar, rehusarse a colocar o a
    quitar cualquier información o materiales, todos o en parte, que a discreción únicamente de El Frente Renovador
    (Alternativa Federal) sean censurables o en violación de estos Términos de Uso, de las políticas o de la ley aplicable o
    por cualquier otra razón sin notificación o responsabilidad.
    Indemnización. Usted se obliga a defender, indemnizar y a sacar a El Frente Renovador (Alternativa Federal) y o a
    cualquier integrante de el Frente Renovador (Alternativa Federal) y sus afiliados en paz y a salvo de cualquier demanda,
    responsabilidad, costos y gastos, de cualquier naturaleza, incluyendo honorarios de abogados, en que incurriera como
    resultado del uso de esta plataforma. En incumplimiento o violación de la ley o de estos Términos y Condiciones. El
    Frente Renovador (Alternativa Federal) se reserva el derecho, a su propio costo, de asumir la defensa y control
    exclusivos de cualquier asunto de otra manera sujeto a indemnización por parte suya, y en dicho caso, usted se obliga a
    cooperar con El Frente Renovador (Alternativa Federal) en la defensa de dicha demanda.
    Término. El Frente Renovador (Alternativa Federal) puede terminar, cambiar, suspender o descontinuar los servicios de
    esta plataforma. El Frente Renovador (Alternativa Federal) puede restringir, suspender o terminar su acceso al Sitio Web
    y/o a sus servicios si creemos que usted está en incumplimiento de nuestros términos y condiciones o de la ley
    aplicable, o por cualquier otra razón sin notificación o responsabilidad. El Frente Renovador (Alternativa Federal)
    mantiene una política que estipula la terminación, en circunstancias apropiadas, de los privilegios de uso de esta
    aplicación para usuarios que son violadores repetitivos de los derechos de propiedad intelectual.
    Cambios de Términos de Uso. El Frente Renovador (Alternativa Federal) se reserva el derecho, a su sola discreción, de
    cambiar, modificar, añadir o quitar cualquier porción de los Términos y Condiciones, toda o en parte, en cualquier
    momento. Los cambios en los Términos y Condiciones serán efectivos cuando se publiquen. La continuación del uso de la
    plataforma después de haber sido publicado cualquier cambio, será considerado como aceptación de esos cambios.
    Ley Aplicable y Jurisdicción. Los Términos y Condiciones y la relación entre usted y nosotros, serán regidos por las
    leyes de la Republica Argentina. Usted se obliga a someterse a la jurisdicción personal y exclusiva de los tribunales
    civiles de la Ciudad Autónoma de Buenos Aires. Nuestra falla al ejercer y hacer valer cualquier derecho o disposición de
    los Términos y Condiciones no constituirá una renuncia a dicho derecho o disposición. Si cualquier disposición de los
    Términos y Condiciones es encontrada inválida por una corte de jurisdicción competente, las partes, sin embargo, están
    de acuerdo en que la corte deberá esforzarse en aplicar las intenciones de las partes como están reflejadas en la
    disposición, y las otras disposiciones de los Términos y Condiciones permanecen vigentes. <a href="#" (click)="clickLink()">+ Leer mas</a>
</div>

</div>