<!-- Muestro y configuro mapa -->
<agm-map
	[latitude]="_latLng.lat"
	[longitude]="_latLng.lng"
	(mapClick)="handlerMapClick($event)">
	<!-- Muestro y configuro marcadores en el mapa -->
	<agm-marker *ngFor="let item of markers"
		[latitude]="item.lat"
		[longitude]="item.lng"
		[draggable]="item.draggable"
		openInfoWindow="true"
		iconUrl="./assets/MapMarker.png">
		<!-- Seteo la info de la persona al hacer click -->
		<agm-info-window>
			<app-marker-info
			[markerItem]='item'
			></app-marker-info>
		</agm-info-window>
	</agm-marker>
</agm-map>