<div *ngIf="!cargando">
  <!-- PASO 1 -->
  <div *ngIf="paso===0">
    <div  >
      <app-camara
      (imageCapture)="imageCapture($event)"
      ></app-camara>
      </div>
  </div>  
  <!-- PASO 2 -->
  <!-- <div *ngIf="webcamImage"> -->
  <div *ngIf="paso===1">
    <div>
      <img *ngIf="webcamImage" [src]="webcamImage.imageAsDataUrl"  />
      <!-- <button (click)="otra()">Tomar otra</button> -->
      <div class="containterBtn">
        <div class="divBtnCargar">
          <button class="btnCargar" (click)="clickFoto()" >CARGAR FOTO</button>
        </div>
        <div class="divAcuerdos">
          <input type="checkbox" name="acuerdos" id="acuerdos" (click)=click() unchecked><a target="_blank" routerLink='acuerdosLegales'>Acepto acuerdos y condiciones legales</a>
        </div>
      </div>  
    </div>
  </div>
  <!-- PASO 2 -->
  <div *ngIf="paso===2">
    <map-click 
    (mapClick)="handleMapClick($event)"
    ></map-click>
    <div class="divBtnCargarSelfie">
      <button class="btnCargar" (click)="click()" [disabled]="!selfie">GUARDAR</button>
    </div>

  </div>
      <!-- PASO 3 -->
      <div *ngIf="paso==3">
        
        <re-captcha (resolved)="resolved($event)" siteKey="6Lei_qIUAAAAAFuzni2E4MPvoEScK_NtrsoC_nvy"></re-captcha>
        
      </div>
    <!-- <input type="text" [(ngModel)]="nombre" name="nombre" placeholder="Ingrese nombre"> -->
</div>

<div *ngIf="cargando">
  <app-spinner></app-spinner>
</div>
<div *ngIf="error">
  <h3>Error al cargar.</h3>
</div>