.all {
    object-fit: fill;
    height: 100%;
}

.divBtnCargarSelfie
{
    width: fit-content;
    margin: 10% auto;
    padding-bottom: 2em;

}
/* 
.btnCargar 
{    
    background-color: white;
    color: #57B3B5;
    border: none;    
    margin-top:2em;
} */

.divAcuerdos
{
    width: fit-content;
    margin: 1em auto;
    color:white !important;
}

.divAcuerdos a
{
    color:#58B3B6;
}

.divAcuerdos checkbox
{
    margin-right: 0.3em;
    margin-bottom: 3px;
    vertical-align: middle;
}

#acuerdos
{
    margin:0 0.3em 3px 0;
    vertical-align: middle;
}