<div *ngIf="!cargando">
  <!-- PASO 1 -->
  <div *ngIf="paso===0">
    <app-camara *ngIf="verCamara"
    (imageCapture)="imageCapture($event)"
    ></app-camara>
  </div>  
  <!-- PASO 2 -->
  <!-- <div *ngIf="webcamImage"> -->
  <div *ngIf="paso===1">
    <div>
      <img *ngIf="webcamImage" [src]="webcamImage.imageAsDataUrl"  />
      <!-- <button (click)="otra()">Tomar otra</button> -->
      <div class="containterBtn">
        <div class="divBtnCargar">
          <button class="btnCargar" (click)="clickFoto()" >CARGAR FOTO</button>
        </div>
      </div>  
    </div>
  </div>
  <!-- PASO 3 -->
  <div *ngIf="paso===2">
    <map-click 
    (mapClick)="handleMapClick($event)"
    ></map-click>
    <div class="divBtnCargarSelfie">      
      <button class="btnCargar" (click)="click()" [disabled]="!selfie">GUARDAR</button>
    </div>
    
  </div>
    <!-- <input type="text" [(ngModel)]="nombre" name="nombre" placeholder="Ingrese nombre"> -->
</div>

<div *ngIf="cargando">
  <app-spinner></app-spinner>
</div>
<div *ngIf="error">
  <h3>Error al cargar.</h3>
</div>