<div *ngIf="!cargando">
  <app-upload (onCargar)="_onCargar($event)"></app-upload>  
  <div *ngIf="webcamImage">
    <div>
      <!-- <img [src]="webcamImage.imageAsDataUrl" width="200px" /> -->
      <!-- <button (click)="otra()">Tomar otra</button> -->
    </div>
    <map-click autocomplete="true" (mapClick)="handleMapClick($event)"></map-click>
  </div>
  <!-- <input type="text" [(ngModel)]="nombre" name="nombre" placeholder="Ingrese nombre"> -->
  <div class="containerBtn">
    <div class="divBtnCargar">
      <!-- <button class="btnCargar" (click)="click()" *ngIf="selfie" [disabled]="!selfie">CARGAR</button> -->
      <button class="btnCargar" (click)="click()" *ngIf="button" [disabled]="!selfie">CARGAR</button>
      <!-- <button class="btnCargar" (click)="click()" *ngIf="selfie" [disabled]="!selfie">CARGAR</button> -->      
      <!-- <div *ngIf="captcha">
        <re-captcha (resolved)="resolved($event)" siteKey="6Lei_qIUAAAAAFuzni2E4MPvoEScK_NtrsoC_nvy"></re-captcha>
      </div>       -->
    </div>
    <div class="divAcuerdos">
      <input type="checkbox" name="acuerdos" id="acuerdos" (click)=click() unchecked><a href="#" (click)="clickLink($event)" >Acepto términos y condiciones.<br> + Leer Más</a>
      <!-- <input type="checkbox" name="acuerdos" id="acuerdos" (click)=click() unchecked><a target="_blank" (onClick)="clickLink($event)" routerLink='acuerdosLegales'>Acepto acuerdos y condiciones legales</a> -->
    </div>
  </div>
</div>
<div *ngIf="cargando">
  <app-spinner></app-spinner>
</div>
<div *ngIf="error">
  <h3>Error al cargar.</h3>
</div>