.inputImgTxt
{
    float: left;
    margin: 0 2% 1em 20%;
}

.divWebCamImage
{
    height: 0;
}

.divBtnCargar
{
    width: fit-content;
    margin: auto;
    /* padding-bottom: 2em; */
}

.btnCargar 
{    
    background-color: white;
    color: #57B3B5;
    border: none;    
    margin-top:2em;
}

.divAcuerdos
{
    width: fit-content;
    margin: 1em auto;
    color:white !important;
}

.divAcuerdos a
{
    color:white;
    margin-left:0.3em;
}



.divAcuerdos checkbox
{
    margin-right: 0.3em;
    margin-bottom: 3px;
    vertical-align: middle;
}

#acuerdos
{
    /* margin-bottom: 3px; */
    margin: 0 0.3em 2px 0;
    vertical-align: middle;
}

.divAlertTxt
{
    color: black;
    border: solid black;
    width: fit-content;
    margin: 2em auto 0em;
    padding: 1em;
}