.divBtnCargar
{
    width: fit-content;
    margin: auto;
    /* padding-bottom: 2em; */
}

.btnCargar 
{    
    background-color: white;
    color: #57B3B5;
    border: none;    
    margin-top:2em;
}

.divAcuerdos
{
    width: fit-content;
    margin: 1em auto;
    color:white !important;
}

.divAcuerdos checkbox
{
    margin-right: 0.3em;
    margin-bottom: 3px;
    vertical-align: middle;
}