@font-face
{
    font-family: chivoBold;
    src:url(./assets/font/Chivo-Bold.otf);
}
@font-face
{
    font-family: chivoBlack;
    src:url(./assets/font/Chivo-Black.otf);
}

@font-face
{
    font-family: chivoLight;
    src:url(./assets/font/Chivo-Light.otf);
}

@font-face
{
    font-family: chivoReg;
    src:url(./assets/font/Chivo-Regular.otf);
}

body
{
    font-family: chivoReg;
}