.dos-fotos-mobile
{
    width: auto;
    height: 125px;
}

.dos-fotos-web
{
    width: auto;
    height: 175px;
}

.dos-fotos-marker
{
    width: auto;
    height: 175px;
}

.galeria
{
    width: auto;
    height: 175px;
}