<div class="divContainerFooter">
  <div class="divFooter">
    <div class="divRedesFooter"><a href="https://twitter.com/SergioMassa" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.facebook.com/SergioMassaOK/" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/sergiomassaok" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/in/massasergio/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="divSumateWappFooter">
        <div class="sumateFooter">¡Sumate!</div>
        <div id="navWappFooter">
            <div class="textWhatsappFooter">
                <a class="navWebFooter" href="http://wa.me/5491170980105?text=¡Quiero ser parte de la alternativa que ponga de pie a la Argentina!" target="_blank">
                    Escribinos por <span class="spanWhatsappFooter">Whatsapp</span><i class="fab fa-whatsapp"></i>
                </a>
            </div>
        </div>
    </div> 
  </div> 
</div>