    <div class="containerInputUbicacion">
      <div class="form-group">
        <input
        [placeholder]="placeholder"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="off"
        type="text"
        class="form-control inputImg"
        #search [formControl]="searchControl"
        >
      </div>
      <!-- <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      </agm-map> -->
    </div>