<div class="containerMapaHome">
  <div class="divBuscadorMapaHome">
    <div class="buscador">
        <input type="text" name="" id="" class="buscadorMapaHome"><div class="divSearch"><i class="fas fa-search"></i></div>
    </div>    
    <div class="divMapa">ACA VA EL MAPA</div>
    <div class="containerFooterMapa">
      <div class="divFooterMapa">
        <div class="divCompartiTuSelfie">
          <div class="textCompartiTuSelfie">
            Compartí tu <br><span class="spanSelfieFederal">#SelfieFederal!</span>
          </div>
          <div class="divButtons">
            <button class="btnMapa abrirCamara">ABRIR CAMARA</button>
            <button class="btnMapa cargarFoto">CARGAR FOTO</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>