.containerMapaHome
{
    position:relative;
    height:fit-content;
}

.divBuscadorMapaHome
{
    width: 100%;        
}

.divBuscador
{
    background-color: #57B3B5;    
    width: 100%;
    height: 70px;
}

.buscador 
{
    display: flex;
    margin: auto auto;
    width: fit-content;
    height: 100%;
}

.buscadorMapaHome
{
    height: 70%;
    margin: auto;
    width: 30vw;
    padding-left:1.2em;
    border:none;
}

/* .divSearchContainer
{
    height: 70%;
    margin: auto;
    background-color: blue;
    width: fit-content;
    padding: 0.5em 1em;height: 70%;
    margin:auto;
} */

.divSearch
{
    height: 70%;
    margin: auto;
    padding: 0.5em 1em;
    background-color: #1C3E66;
    color: white;
    text-align: center;
    width: fit-content;
}

.fa-search
{
    vertical-align: middle;
}

.divMapa
{
    height: fit-content;
    width: 100%;    
    position:relative;
}

.containerFooterMapa
{
    background-color: #1C3E66;
}

.divFooterMapa
{    
    width:75%;
    margin:auto auto;    
    padding: 6vw 0;
    position:relative;
}

/* .contentFooterMapa
{
    display: flex;    
    height: fit-content;
    max-height: 230px;
} */

.divCompartiTuSelfie
{
    /* width: 35%; */
    width:100%;
    color: white;
    font-size: 3vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: inherit;    
    position: relative;    
    margin: auto;
}

.spanSelfieFederal
{
    font-family: chivoBold;
}

.divButtons
{
    /* margin-top: 0.5em; */
    display: flex;
    grid-area:btn;
}

.btnMapa
{
    background-color: #57B3B5;
    border: solid white 1px;
    border-left: 2px solid white;
    border-right: 2px solid white;
    font-size: 1.2vw;
    margin: 1.5vw 1vw 0vw 0;
    color: white;
    font-family: chivoBold;
    border: 1px 2px;
    padding: 0.2em 1em;
    height: fit-content;
}

.divGaleriaFooterMapa
{
    /* width:65%; */
    width:100%;
    display:flex;
    height: fit-content;
    grid-area:galeria;
}

.divGaleriaFooterMapaMobile
{
    display:none;
}

.imgsFooterMap
{
    width:100%;
    position:relative;
}

.imgFooterMap{
    position:relative;
    width:90%;
    margin:5%;
}

.footerImgMap
{
    background-color: #3A74BB;
    color: white;
    position: absolute;
    bottom: 0;
    height: 30px;
    display: flex;
    width: 100%;
    padding:0.2em;
}

.footerImgMap a
{
    color:white;
    margin:0.3em;
}

.redesSocialesFooterImg
{
    text-align: right;
    width:100%;
}

.imgFooterMap img
{
    width:100%;
    height: auto;    
}

.imgsFooterMap img
{
    max-height: 180px !important;
    padding-bottom:30px;
}

.divBtnMasFotos
{
    position: absolute;
    bottom: 7%;
    right: 2%;
    height: fit-content;
}

.btnMasFotos
{
    background-color: transparent;
    border: none;
    color: white;
    font-family: chivoLight;
    font-size: 1.3vw;
    display: flex;
}

.abrirCamara
{
    display:none;
}

.spanMasMobile
{
    display:none;
}

.verMas
{
    height: fit-content;
    margin: auto 1em;
}

.spanMas
{
    font-size: 2.3vw;
}

.divCargarFoto
{
    width: 75%;
    background-color: #57B3B5;    
    margin: auto;
    border: 2px solid white;
}

.ngx-file-drop__drop-zone[_ngcontent-cwu-c14]
{
    width:60%;
    border-radius: 0 !important;
    color:white !important;
    border: 2px dotted white !important;
}

.ngx-file-drop__drop-zone-label
{
    color:white !important;
}

.containerCargarFoto
{
    padding: 3em 0em;
}

.contentFooterMapa
{
    display:grid;
    grid-template-columns: 35% 65%;
    grid-template-rows:auto auto auto;
    grid-template-areas: 
    "text galeria"
    "btn galeria"
    ". btnMas";
}

.divMapaCover
{
    height: 100%;
    position: absolute;    
    width: 100%;
    z-index: 10;
}