.divBuscadorMapaHome
{
    width: 100%;
    background-color: #57B3B5;
    height: 50px;
}

.buscador
{
    display: flex;
}

.buscador 
{
    display: flex;
    width: fit-content;
    height: 100%;
    margin: auto auto;
}

.buscadorMapaHome
{
    height: 70%;
    margin: auto;
    width: 30vw;
}

.divSearch
{
    height: 70%;
    margin: auto;
    padding: 0.5em;
    background-color: #1C3E66;
    color: white;
    text-align: center;
    width: 3vw;
}

.divMapa
{
    height: 10vw;
    width: 100%;
    border:solid 1px red
}

.containerFooterMapa
{
    background-color: #1C3E66;
}

.divFooterMapa
{    
    width:75%;
    margin:auto auto;
}

.divCompartiTuSelfie
{
    width:50%;
    color:white;
    font-size:2vw;
    padding: 6vw 0;
}

.spanSelfieFederal
{
    font-family: chivoBold;
}

.btnMapa
{
    background-color:#57B3B5;
    border:solid white 1px;
    font-size:1.3vw;
    margin:1vw;
    color:white;
}