<div class="divBuscador">
  <div class="buscador">
      <input type="text" placeholder="Lugares" name="" id="" class="buscadorMapaHome"><div class="divSearch"><i class="fas fa-search"></i></div>
  </div>    
</div>
<div class="divGaleria">
  <div class="galeria">
    <div class="imgsFooterMap" *ngFor="let mark of markers">
      <!-- <img [src]="getImageSrc(mark.persona.img)" height="75px" alt=""
      *ngIf="!muestroVideo(mark.persona.img)"
      > 
      <video  height="175px" controls
      *ngIf="muestroVideo(mark.persona.img)"
      >
        <source [src]="getImageSrc(mark.persona.img)">
      </video> -->
      <show-file [src]="getImageSrc(mark.persona.img)" alt="" clase="galeria"></show-file>
    </div>
  </div>
  <div class="divBack" (click)="backClicked()">
    <div class="back">
      <div class="divArrow">
        <img src="../../../assets/arrow.png" alt="" class="imgArrow">
      </div>
        <span class="volver">VOLVER</span>      
    </div>
  </div>
</div>
