.btn-cargar {
    /* background-color: aqua; */
    background-color: white;
    color: #57B3B5;
    border: none;
    margin-left: 2em;
}

.divBtnCargar
{
    margin: 0em auto 2em;
    width: fit-content;
}
